.stats{
    FLOAT: left;
    width: 80%;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    margin: 1rem;
}

.f-lef{
    float: left;
}

.f-right{
    float: right;
}

.name-score{
    width: 100%;
}

.wrapper{
    width: 100%;
}

.received{
    padding: 0% 5% 0% 0%;
    width: 40%;
    float: left;
}

.given{
    width: 40%;
    float: right;
}