.formField{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
.containerDropdown{
    margin: 15px 15px 15px 15px;
    font-size: large;
}
.backgroundSuggestions{
    width: 100%;
    height: 100vh;
    background-image: url("../../resources/37311687_10216608266663132_6404200368988749824_n.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
textarea{
    background-color: rgba(255,255,255,0.7);
    border-color: #222222;
    border-radius: 2px;
}
.imageUpload{
    width: 90%;
    background-position: center center;
}

.select{
    font-size: 1.5rem;
}

.textarea{
    font-size: 1.2rem;
    width: 80%;
    min-height: 20vh;
}

.textarea::placeholder{
    font-size: 1.2rem;
}

.submit-suggestion-btn{
    padding: 1rem 4rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background-color: #ff881d;
    border: none;
    border-radius: 5px;
}

label{
    font-size: 1.3rem;
}