.homeButton{
    width: 100vw;
    align-self: center;
    height: 18vh;

    background: transparent;
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding: 20px;
    font-weight: 700;
    border-color: darkslategrey;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
.homeButton:hover{
    border-width: 3px;
}
.background{
    height: 100vh;
    width: 100vw;
    background-image: url("../../resources/johanahorseblue.jpg") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
